# This is an example file. For local development,
# copy this file to .env.local and fill in your
# Firebase service account credentials.
#
# DO NOT COMMIT .env.local TO YOUR GIT REPOSITORY.

FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
